#! /bin/bash

# This file is managed by ansible
# Purposes: pull debuginfo pkgs through rsync for debuginfod service/cache

logfile="/var/log/debuginfod-pkgs-pull.log"
lock_file="/var/tmp/debugpkgs-pull.lck"

if [ -e ${lock_file} ] ; then
  echo "Other rsync in progress" >> $logfile 2>&1
else
  touch ${lock_file}
  # Now 9-stream which has everything directly 
  rsync {{ debuginfod_rsync_origin }} {{ debuginfod_storage_path }}/9-stream/ -avH {{ debuginfod_rsync_filter }} >> $logfile 2>&1

  /bin/rm ${lock_file}
fi
